{% extends "base.html" %}

{% load static %}



{% block contenido %}
<div class="row">
    <h1>ESTE ES EL CONTENIDO DE RUTA PARTIDOS</h1>
</div>
{% if formulario %}
<div class="row">
    <div class="form-control text-center">
        <form action="{% url 'partidos' %}" method="POST"> {% csrf_token %}

            <table class="table ">

                {{ formulario.as_table }}

            </table>

            <input type="submit" class="btn btn-success" value="GUARDAR PARTIDO">


        </form>
    </div>
</div>
{% endif %}
<div class="row">
    <p class="alert alert-warning">{{ mensaje }}</p>
</div>
{% endblock %}